:root{
    --shade-grade-1: #1c1c1c;
    --shade-grade-2: #292929;
    --shade-grade-3: #636363;
    --shade-grade-4: #d3d3d3;
    --transition-duration: 0.5s;
}
::-webkit-scrollbar{
    width:10px;
}
::-webkit-scrollbar-track{
    background: var(--shade-grade-2);
}
::-webkit-scrollbar-thumb{
    background: var(--shade-grade-3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--shade-grade-4);
}
#injectTheme{
    position: fixed;
    bottom: 5vh;
    right: 2vw;
    height: 10vh;
    width: 10vh;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.loading{
    display:inline;
    height:2vh;
}